In [56]:
import pandas as pd
import numpy as np

series

In [61]:
x=pd.Series([1,2,3],index=['a','b','c'])
y=pd.Series(np.array([1,2,3]),index=['a','b','c'])
z=pd.Series({'a':1,'b':2,'c':3})
print(x)
print()
print(y)
print()
print(z)

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
dtype: int64

a    1
b    2
c    3
dtype: int64

dataframe

In [63]:
wine_dict = {
    'red_wine': [3, 6, 5],
    'white_wine':[5, 0, 10]
}
sales = pd.DataFrame(wine_dict, index=["adam", "bob", "charles"])
print(sales)

         red_wine  white_wine
adam            3           5
bob             6           0
charles         5          10

In [64]:
sales['white_wine']

adam        5
bob         0
charles    10
Name: white_wine, dtype: int64

Presidents CSV

In [67]:
presidents_df=pd.read_csv('https://sololearn.com/uploads/files/president_heights_party.csv', index_col='name')
presidents_df.head(5)

                   order  age  height                  party
name
George Washington      1   57     189                   none
John Adams             2   61     170             federalist
Thomas Jefferson       3   57     189  democratic-republican
James Madison          4   57     163  democratic-republican
James Monroe           5   58     183  democratic-republican

In [68]:
presidents_df.size

180

In [69]:
presidents_df.shape

(45, 4)

In [73]:
presidents_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45 entries, George Washington to Donald J. Trump
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   order   45 non-null     int64
 1   age     45 non-null     int64
 2   height  45 non-null     int64
 3   party   45 non-null     object
dtypes: int64(3), object(1)
memory usage: 2.8+ KB

In [72]:
presidents_df.describe()

           order        age      height
count  45.000000  45.000000   45.000000
mean   23.022222  55.000000  180.000000
std    13.136502   6.595453    6.977236
min     1.000000  42.000000  163.000000
25%    12.000000  51.000000  175.000000
50%    23.000000  55.000000  182.000000
75%    34.000000  58.000000  183.000000
max    45.000000  70.000000  193.000000

In [74]:
print(presidents_df.loc['Abraham Lincoln':'Ulysses S. Grant'])

                  order  age  height           party
name
Abraham Lincoln      16   52     193      republican
Andrew Johnson       17   56     178  national union
Ulysses S. Grant     18   46     173      republican

In [77]:
presidents_df.iloc[10:15]

                  order  age  height       party
name
James K. Polk        11   49     173  democratic
Zachary Taylor       12   64     173        whig
Millard Fillmore     13   50     175        whig
Franklin Pierce      14   48     178  democratic
James Buchanan       15   65     183  democratic

In [78]:
presidents_df.columns

Index(['order', 'age', 'height', 'party'], dtype='object')

In [80]:
presidents_df['height']
presidents_df['height'].shape

(45,)

In [82]:
presidents_df[['height','age']].head(3)

                   height  age
name
George Washington     189   57
John Adams            170   61
Thomas Jefferson      189   57

In [83]:
presidents_df['age'].quantile([0.25,0.5,0.75,1])

0.25    51.0
0.50    55.0
0.75    58.0
1.00    70.0
Name: age, dtype: float64

In [89]:
presidents_df.groupby('party')['height'].max()

party
democratic               193
democratic-republican    189
federalist               170
national union           178
none                     189
republican               193
whig                     183
Name: height, dtype: int64

In [90]:
presidents_df.groupby('party')['height'].agg(['min',np.median,'max'])

                       min  median  max
party
democratic             168   180.0  193
democratic-republican  163   177.0  189
federalist             170   170.0  170
national union         178   178.0  178
none                   189   189.0  189
republican             168   182.0  193
whig                   173   174.0  183

In [97]:
presidents_df.groupby('party').agg({'height':[np.mean,np.median],'age':[min,max]})

                           height        age
                             mean median min max
party
democratic             181.066667  180.0  43  65
democratic-republican  176.500000  177.0  57  58
federalist             170.000000  170.0  61  61
national union         178.000000  178.0  56  56
none                   189.000000  189.0  57  57
republican             180.894737  182.0  42  70
whig                   176.000000  174.0  50  68

Data Science - Reshape


Task
Given a list of numbers and the number of rows (r), reshape the list into a 2-dimensional array. Note that r divides the length of the list evenly.

Input Format
First line: an integer (r) indicating the number of rows of the 2-dimensional array
Next line: numbers separated by the space

Output Format
An numpy 2d array of values rounded to the second decimal.

Sample Input
2
1.2 0 0.5 -1

Sample Output
[[ 1.2 0. ]
[ 0.5 -1. ]]

In [98]:
import numpy as np
r = int(input()) 
lst = [float(x) for x in input().split()]

arr_ABD = np.array(lst)
arr_ABD = arr_ABD.reshape(r,int(len(lst)/r))
print(arr_ABD.round(2))

2
1 2 3 4 5 6
[[1. 2. 3.]
 [4. 5. 6.]]